# Copy to .env and fill in your values

ZEROXKEY_ORGANIZATION_ID="<0xkey organization ID>"
ZEROXKEY_API_PUBLIC_KEY="<0xkey API public key (that starts with 02 or 03)>"
ZEROXKEY_API_PRIVATE_KEY="<0xkey API private key>"
RPC_URL="<RPC provider URL>"
SIGN_WITH="<0xkey signer address>"
CONTRACT_ADDRESS="<ERC20 contract address>"